<h2>Your Cart</h2>

<table class="table">
  <tr>
    <td>NAME</td>
    <td>PRICE</td>
    <td>QUANTITY</td>
    <td>TOTAL</td>
    <td>ADD</td>
    <td>REMOVE</td>
  </tr>



<%session[:product_id].uniq.each do |a|%>
   <tr>
   <td><%= Product.find(a).name%></td>
    
   <td> <%= Product.find(a).description%></td>
    
   <td>  <%= session[:product_id].count(a)%></td>
  
   <td> <%= (Product.find(a).price)*session[:product_id].count(a)%></td>
   <td> <%=link_to "+1",add_to_cart_products_path(a),:class => "btn btn-success"%></td>
   <td> <%=link_to "-1",delete_from_cart_products_path(a),:class => "btn btn-primary"%></td>
   </tr>
<%end%>
</table>

<%=link_to "back",root_path,:class => "btn btn-danger"%>